<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Project Manager</h3>
                                        <p>October 2021 - November 2024</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>GM Advisor Invest</h4>
                                        <p>Managed projects focused on integrating innovative technological solutions into urban planning and sustainable development strategies. The role involved overseeing complex projects, collaborating closely with various stakeholders, and delivering customized Smart City solutions to modernize and optimize urban environments.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>European Funding Specialist</h3>
                                        <p>September 2020 - September 2021</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Wieser Consult</h4>
                                        <p>Managed the development and implementation of European-funded projects, focusing on solutions for urban development and sustainability. This role encompassed the entire process of accessing European funding, from identifying opportunities and drafting applications to monitoring project implementation, ensuring compliance with European standards and addressing client-specific needs.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Project Specialist</h3>
                                        <p>September 2018 - August 2020</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Sigm-Home Projects</h4>
                                        <p>Developed and implemented European-funded projects, focusing on sustainable development and effective solutions for urban development. This role involved managing the entire process from strategic planning to execution, ensuring compliance with European standards and meeting client-specific requirements.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>IT Courses</h3>
                                        <p>November 2024 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>LINK Academy</h4>
                                        <p>Frontend JavaScript Development
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Master Degree</h3>
                                        <p>July 2016 - October 2018</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>National University of Political Studies and Public Administration</h4>
                                        <p>Public Affairs Management
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Bachelor Degree</h3>
                                        <p>October 2013 - June 2016</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>National University of Political Studies and Public Administration</h4>
                                        <p>Administrative Sciences, European Administration
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->